#pokedex{
    margin-top: 15px;
    width: 500px;
    height: 500px;
    background-color: red; 
    margin-left: 600px;
    border-radius: 15%;
    text-align: center;
    border-color: black;
}


#pokedex img{
    align-content: center;
    margin-top: 20px;
    margin:0px auto;
    width: 500px;
    height: 200px;   
    margin-left: 2px; 
}

.carta{
    border-radius: 2%;
    background-color: #B5B5B5; 
    display: inline-block; 
    align-items: center;
    position: relative;
    margin-top: 10px;
    text-align: center;
    width: 200px;
    height: 200px;   
    align-items: center;    
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
    border-color: #7E7E7E;
}

.carta img {
    width: 150px;
    height: 150px;
}

.carta:hover img {
    display: none;
}

.carta .delante {
    display: none;
}

.carta:hover .delante {
    display: inline-block;
    animation: redimensionar 3s infinite;
}

@keyframes redimensionar {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.3);
    }
  }





